{% extends "base.html" %}

{% load fiber_tags %}

{% block bodyclass %}contentpage{% endblock bodyclass %}

{% block extranavbarclasses %}affix inner-pages{% endblock extranavbarclasses %}

{% block content %}

        <!-- Services -->
        <div class="content-container container">
            <div class="row services-single">
                {% show_page_content "main" %}
            </div>
        </div>
<!--         <div class="container">
            <div class="row">
                <div class="col-md-4 col3">
                    <a href="#" title="Join the Alliance" class="roundal" id="house"></a>
                    <h3>Join the Alliance</h3>
                    <p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum. Humanitatis per seacula quarta decima et quinta decima.</p>
                    <form method="get" action="#">
                        <button type="submit" class="btn btn-default btn-green">Learn more</button>
                    </form>
                </div>
                <div class="col-md-4 col3">
                    <a href="#" title="Treatments needed" class="roundal" id="grooming"></a>
                    <h3>Treatments needed</h3>
                    <p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum. Humanitatis per seacula quarta decima et quinta decima.</p>
                    <form method="get" action="#">
                        <button type="submit" class="btn btn-default btn-green">Learn more</button>
                    </form>
                </div>
                <div class="col-md-4 col3">
                    <a href="#" title="Statistics" class="roundal" id="adoption"></a>
                    <h3>Statistics</h3>
                    <p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum. Humanitatis per seacula quarta decima et quinta decima.</p>
                    <form method="get" action="#">
                        <button type="submit" class="btn btn-default btn-green">Learn more</button>
                    </form>
                </div>
            </div>
        </div> -->
        <!-- Services end -->

{% endblock content %}